.home-container{
    display: grid;
    grid-template-rows: 15% 85%;
    height:800px;
    background-color: #ecf7fb;
}
.home-body {
    display: flex;
}
.carousel-bg{
    background-image: url('../images/backgroundHome.jpg'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
}
.carousel-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value to control the transparency */
}

/* HeaderCSS.css */
.home-header{
    display: flex;
    background-color: #3498db;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px; /* Set the height to match the width for a perfect circle */
    border-radius: 50%; /* Make it circular */
    margin-right: 10px;
    object-fit: cover; /* Ensure the image covers the entire circular space */
}
.logo-text{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.header-center {
    flex-grow: 1; /* Takes up remaining space in the center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post-btn {
    padding: 10px 20px;
    background-color: #2B2E4A;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}

.header-right {
    display: flex;
    align-items: center;
    color: cornflowerblue;
    font-size: 30px;
}
.home-header * {
    font-size: 25px;
}

.notification-icon {
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
}
.notification-icon:hover{
    text-decoration: None;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.header-right a:hover,
.header-right *:hover {
    color: #70a9ff; /* Change to the desired grey color */
    /* You can also add other hover effects like background-color or text-decoration if needed */
}

.home-background{
    background-image: url('../images/backgroundHome.jpg'); /* Replace 'your-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
}