.registration-page{
    display: grid;
    grid-template-columns: 60% 40%;
    height:800px;
}
.radio-container {
    display: inline-block;
    margin-right: 10px;
}

.radio-label {
    display: inline-block;
    margin-right: 5px;
    padding-left : 10px;
}
.date-picker{

}
.gender-radio{
    display: flex;
    padding-right: 10px;
}
.registration-form{
    margin-left:10px;
}
.input{
    width: 80%;
}
.date-of-birth-div{
    display: flex;
}